/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav a{
    color:white !important;
}
nav a.active{
    color:rgb(54, 190, 73) !important;
}